config FLIR_EEPROM
	bool "EEPROM commons"
	default n
	help
	  Common code for system EEPROM access

config FLIR_DA9063
	bool "DA9063 PMIC"
	depends on MXC_SPI
	depends on MX6
	default n
	help
	  Command 'pmic', for accessing DA9063 PMIC registers

config FLIR_PF1550
	bool "PF1550 PMIC"
	default n
	help
	  Common code interface for PF1550 PMIC.

config FLIR_USBDCD
	bool "USBDCD"
	depends on FLIR_PF1550
	default n
	help
	  Common code interface for USB-DCD negotiation.

config FLIR_LC709203
	bool "LC709203"
	default n
	help
	  Common code interface for LC709203 fuelgauge.

config FLIR_DISPLAY_UTILS
	bool "Display utils"
	default n
	help
	  Common code interface for display interaction.

config FLIR_LED_UTILS
	bool "LED utils"
	default n
	help
	  Common code interface for LED interaction.

config FLIR_ORIG_FORMAT_SERIAL_MX6
	bool "Serial in high-low format"
	depends on ARCH_MX6
	default n
	help
	  Serial in high-low format for backwards compatibility.
	  Use in products, which have been previously released 
	  with the serial in high-low format. Those will need to
	  keep the same format after the u-boot upgrade.

config FLIR_BOARD_SUPPORT
	bool "IO Board support"
	default n
	help
	  Common functions for supplying camera-specific hardware settings

config FLIR_COMMANDS
	bool "Common FLIR commands"
	default y
	help
	  Support FLIR-specific commands

config FLIR_OLD_COMMAND_STYLE
	bool "Old command style"
	depends on FLIR_COMMANDS
	default y
	help
	  Support old-style FLIR commands (without flir_)

config FLIR_COMMAND_KBD
	bool "Keyboard support (flir_kbd)"
	depends on FLIR_COMMANDS
	depends on CMD_I2C
	default n
	help
	  GPIO-expander keyboard functionality, as well as a test
	  command 'flir_kbd'.

config FLIR_COMMAND_RECOVERYKEY
	bool "Recovery key (recoverykey)"
	depends on FLIR_COMMANDS
	depends on FLIR_COMMAND_KBD
	default n
	help
	  Command 'recoverykey' that detects whether the designated
	  recovery-key is pressed. Returns 0 if it is pressed.


config FLIR_COMMAND_KBDSECRET
	bool "Recovery sequence (kbd_secret)"
	depends on FLIR_COMMANDS
	depends on FLIR_COMMAND_KBD
	default n
	help
	  Command 'kbd_secret', for detecting secret keyboard
	  sequence. Boot into recovery mode if so, otherwise
	  perform normal boot.

config FLIR_COMMAND_CHECKCHARGER
	bool "Charger check (flir_checkcharger)"
	depends on FLIR_COMMANDS
	depends on CMD_I2C
	default n
	help
	  Command 'flir_checkcharger'. Examines charger status.

config FLIR_COMMAND_LOADFPGA
	bool "Load FPGA (flir_loadfpga)"
	depends on FLIR_COMMANDS
	depends on CMD_SPI
	default n
	help
	  Command 'flir_loadfpga' for loading FPGA from flash device.

config FLIR_USBCHARGE
	bool "USB charger state (chargeState)"
	depends on FLIR_COMMANDS
	depends on CMD_I2C
	default n
	help
	  Command 'chargeState' for controlling the USB charger state

config FLIR_SYS_EEPROM
	bool "EEPROM MAC access (mac)"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'mac', for accessing MAC from SYS_EEPROM

config READMAINBOARDREVISION
	bool "Mainboard revision (readmainboardrevision/article)"
	depends on FLIR_COMMANDS
	default n
	help
	  Commands 'readmainboardrevision' and 'readmainboardarticle'

config CMD_UPDATE_FDT_EEPROM
	bool "Update FDT EEPROM (update_fdt_eeprom)"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'update_fdt_eeprom'. Create an FDT node with EEPROM info.

config CMD_BOARD
	bool "Board info (flir_board)"
	depends on FLIR_COMMANDS
	depends on CMD_I2C
	default n
	help
	  Command 'flir_board', fills env vars with revision and article

config FLIR_SET_MAC
	bool "Set mac"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'setmac', for setting the mac address.

config FLIR_CHARGEAPP
	bool "Chargeapp"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'chargeapp', for charging in u-boot.

config FLIR_RECOVERY_TRIGGER
	bool "Recovery trigger"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'recoverytrigger', for running recovery sequence.

config FLIR_BOOTSTATE
	bool "Bootstate"
	depends on FLIR_COMMANDS
	default n
	help
	  Command 'bootstate', for running booting sequence.




