if FLIR_COMMANDS

config FLIR_COMMAND_RECOVERYKEY
       bool "FLIR_COMMAND_RECOVERYKEY"
       depends on FLIR_COMMANDS       
       depends on FLIR_COMMAND_KBD
       default n
       help
		FLIR Specific commands support"


config FLIR_COMMAND_KBDSECRET
       bool "FLIR_COMMAND_KBDSECRET"
       depends on FLIR_COMMANDS
       depends on FLIR_COMMAND_KBD
       default n
       help
		"FLIR_COMMAND_KBDSECRET"
config FLIR_COMMAND_KBD
       bool "FLIR_COMMAND_KBD"
       depends on FLIR_COMMANDS
       depends on CMD_I2C
       default n
       help
		"FLIR_COMMAND_KBD"
config FLIR_COMMAND_CHECKCHARGER
       bool "FLIR_COMMAND_CHECKCHARGER"
       depends on FLIR_COMMANDS
       depends on CMD_I2C
       default n
       help
		"FLIR_COMMAND_CHECKCHARGER"
config FLIR_COMMAND_LOADFPGA
       bool "FLIR_COMMAND_LOADFPGA"
       depends on FLIR_COMMANDS
       depends on CMD_SPI
       default n
       help
		"FLIR_COMMAND_LOADFPGA"
config FLIR_EEPROM
       bool "FLIR_EEPROM"
       depends on FLIR_COMMANDS
       default n
       help
		"FLIR_EEPROM"
config FLIR_USBCHARGE
       bool "FLIR_USBCHARGE"
       depends on FLIR_COMMANDS
       depends on CMD_I2C
       default n
       help
		"FLIR_USBCHARGE"
config FLIR_SYS_EEPROM
       bool "FLIR_SYS_EEPROM"
       depends on FLIR_COMMANDS
       default n
       help
		"FLIR_SYS_EEPROM"
config FLIR_BOARD_SUPPORT
       bool "FLIR_BOARD_SUPPORT"
       depends on FLIR_COMMANDS
       default n
       help
		"FLIR_BOARD_SUPPORT"
config READMAINBOARDREVISION
       bool "READMAINBOARDREVISION"
       depends on FLIR_COMMANDS
       default n
       help
		"REDMAINBOARDREVISION"
config CMD_UPDATE_FDT_EEPROM
       bool "CMD_UPDATE_FDT_EEPROM"
       depends on FLIR_COMMANDS
       default n
       help
		"CMD_UPDATE_FDT_EEPROM"
config CMD_BOARD
       bool "CMD_BOARD"
       depends on FLIR_COMMANDS
       depends on CMD_I2C
       default n
       help
		"CMD_BOARD"
config FLIR_DA9063
       bool "Support FLIR DA9063"
       depends on MXC_SPI
       depends on MX6
       default n
       help
		"FLIR_DA9063"


endif 
