/*
 * Copyright 2017 FLIR Systems.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/*This file represents ec501-c */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/regulator/dlg,da9063-regulator.h>

/ {
	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		i2c3 = &i2c4;

		/* FLIR - overwrite imx6qdl standard. Compatible with ROCO  */
		mmc0 = &usdhc4;
		mmc1 = &usdhc1;
		mmc2 = &usdhc2;
		mmc3 = &usdhc3;

		ethernet0 = &fec;
	};

	memory {
		reg = <0x10000000 0x20000000>;
	};

	clocks {
		clk24m: clk24m {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_4v0_fpa: reg_4v0_fpa {
			compatible = "regulator-fixed";
			regulator-name = "4V0_fpa";
			gpio = <&gpio2 1 0>;
			enable-active-high;
		};

		/*Removed on ec101-d but required by fvdk*/
		reg_fpa_i2c: reg_fpa_i2c {
			compatible = "regulator-fixed";
			regulator-name = "fpa_i2c";
			enable-active-high;
		};
	};

	fad {
		compatible = "flir,fad";
		HasDigitalIO = <1>;
		digin0-gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
		digin1-gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;
	};

	boards{
		mainboard{
			article = <0>;
			rev = <0>;
		};
	};

	u-boot{
		version = "Unkown";
		reset-cause = "Unkown";
	};

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="640x480M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "fake";
		interface_pix_fmt = "RGB24";
		mode_str ="640x480M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	pwm1_tbd {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 200000>; //0.2ms
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pwm1>;
		default-brightness-level = <0>;
	};

	pwm2_torch {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 200000>; //0.2ms
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pwm2>;
		default-brightness-level = <0>;
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		videoflow_method = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_1 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		videoflow_method = <1>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};

	fvd {
		compatible = "flir,fvd";
		pinctrl-names = "default", "spi-default","spi-idle";
		pinctrl-0 = <&pinctrl_fvd>;
		pinctrl-1 = <&pinctrl_ecspi1>;
		pinctrl-2 = <&pinctrl_ecspi1_idle>;
		fpga-program-gpio	= <&gpio5 25 GPIO_ACTIVE_HIGH>;
		fpga-init-gpio		= <&gpio5 26 GPIO_ACTIVE_HIGH>;
		fpga-conf-done-gpio 	= <&gpio5 27 GPIO_ACTIVE_HIGH>;
		fpga-ready-gpio		= <&gpio3 19 GPIO_ACTIVE_HIGH>;
		spi-sclk-gpio		= <&gpio5 22 GPIO_ACTIVE_HIGH>;
		spi-mosi-gpio		= <&gpio5 23 GPIO_ACTIVE_HIGH>;
		spi-miso-gpio		= <&gpio5 24 GPIO_ACTIVE_HIGH>;
		spi-cs-gpio		= <&gpio5 28 GPIO_ACTIVE_HIGH>;
	};

	fake {
		compatible = "fsl,imx6q-fake";
		display = <&fakedisp>;
		ipu_id = <0>;
		disp_id = <2>;
		status = "okay";
	};
	
	fakedisp: fake-vga {
		display-timings {
			timing {
				clock-frequency = <40000000>;
				hactive = <640>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <88>;
				hsync-len = <128>;
				vback-porch = <23>;
				vfront-porch = <1>;
				vsync-len = <40>;
			};
		};
	};
	
	imx-thermal-values {
		/* All values in mC */
		temp-passive = <83000>;
		temp-critical = <100000>;
		hysteresis = <3000>;
	};
};

&hdmi_core {
	ipu_id = <0>;
	disp_id = <0>;
	status = "okay";
};

&hdmi_video {
	/* drivers/video/mxc/mxc_hdmi.c:
	 * HDMI PHY register vlev and cksymtx preperty is optional.
	 * It is for specific board to pass HCT electrical part.
	 * Default value will been setting in HDMI PHY config function
	 * if it is not define in device tree.
	 */
//?	fsl,phy_reg_vlev = <0x0294>;
//?	fsl,phy_reg_cksymtx = <0x800d>;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii-id";
	phy-reset-gpios = <&gpio1 25 GPIO_ACTIVE_LOW>;
	phy-supply = <&DA9063_LDO6>;
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			status = "okay";
			reg = <0>;
			compatible = "ti,dp83867","ethernet-phy-ieee802.3-c22";
//?			interrupt-parent = <&gpio1>;
//?			interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
//?opt			ti,min-output-impedance;
//?opt			ti,max-output-impedance;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_CHN_A_RCLK>;
		};
	};
};

/* Serial flash SPI */
&ecspi1 {
	status = "okay";
	fsl,spi-num-chipselects = <3>;
	cs-gpios = <&gpio5 28 0>, <&gpio5 29 0 >, <&gpio1 3 0>;

	/* FPGA program flash */
	flash: m25p80@0 {
		compatible = "micron,n25q256a", "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};

	/* Detector flash */
	bie64flash: bie64flash@1 {
		compatible = "micron,n25q128a13", "micron,n25q256a", "jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <1>;
	};
	/* Adc on i3 detector board, dummy chip select*/
	spidev: spidev@2 {
		status = "okay";
		compatible = "linux,spidev";
		spi-max-frequency = <1000000>;
		reg = <2>;
	};	

};

/* IO board SPI */
&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	status = "okay";
	fsl,spi-num-chipselects = <3>;
	cs-gpios = <&gpio2 26 0>, <&gpio2 27 0>, <&gpio2 28 0>;
};

/* PMIC SPI */
&ecspi4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4>;
	status = "okay";
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio3 20 0>;

	da9063: da9063@0 {
		compatible = "dlg,da9063";
		reg = <0>;
		spi-max-frequency = <1000000>;
		interrupt-parent = <&gpio3>;
		interrupts = <27 2>;
		interrupt-controller;
		#interrupt-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_da9063>;

		poweroff {
			compatible = "dlg,da9063-poweroff";
		};

		rtc {
			compatible = "dlg,da9063-rtc";
			interrupts = <1 2>;
			interrupts-names = "ALARM" , "TIMER";
			interrupt-parent = <&da9063>;
		};

		onkey {
			compatible = "dlg,da9063-onkey";
			interrupts = <0>;
			interrupts-names = "ONKEY";
			interrupt-parent = <&da9063>;
			dlg,key-power;
			gpio-key,wakeup;
			linux,code = <66>;
		};

		hwmon {
			compatible = "dlg,da9063-hwmon";
			interrupts = <3>;
			interrupts-names = "HWMON";
			interrupt-parent = <&da9063>;
			dlg,tjunc-offset = <(-5)>;
		};

		gpio_extender: gpio {
			compatible = "dlg,da9063-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};

		reset{
			compatible = "dlg,da9063-reset";
		};


		/* For DA9063 revision PA9 */
		regulators {
			compatible = "dlg,da9063-regulator";
			/*dlg,bcores_merged;*/
			/*dlg,bmem_bio_merged;*/
			interrupts = <8>;
			interrupts-names = "LDO_LIM";
			interrupt-parent = <&da9063>;

			/* VCCARM */
			DA9063_BCORE1:bcore1  {
				regulator-name = "DA9063_BCORE1";
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1280000>;

				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
					regulator-suspend-uv= <950000>;
					regulator-off-in-suspend;
				};
			};

			/* VCCSOC */
			DA9063_BCORE2:bcore2  {
				regulator-name = "DA9063_BCORE2";
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1280000>;

				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
					regulator-suspend-uv= <950000>;
					regulator-off-in-suspend;
				};
			};

			/* 1V0A_ETH */
			DA9063_BPRO:bpro  {
				regulator-name = "DA9063_BPRO";
				regulator-boot-on;
				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
				};
			};

			/* 1V2D_FPGA */
			DA9063_BMEM:bmem  {
				regulator-name = "DA9063_BMEM";
				regulator-boot-on;
				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
				};
			};

			/* 1V8D */
			DA9063_BIO:bio  {
				regulator-name = "DA9063_BIO";
				regulator-boot-on;
				regulator-always-on;
				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
				};
			};

			/* 1V2D */
			DA9063_BPERI:bperi  {
				regulator-name = "DA9063_BPERI";
				regulator-boot-on;
				regulator-always-on;
				regulator-initial-mode = <DA9063_BUCK_MODE_SYNC>;
				regulator-allowed-modes = <DA9063_BUCK_MODE_AUTO>, 
										  <DA9063_BUCK_MODE_SYNC>;
				regulator-state-mem {
					regulator-mode = <DA9063_BUCK_MODE_AUTO>;
				};
			};

			/* 2V5A_ETH */
			DA9063_LDO6:ldo6  {
				regulator-name = "DA9063_LDO6";
			};

			/* 3V15D_FPGA */
			DA9063_LDO8:ldo8  {
				regulator-name = "DA9063_LDO8";
				regulator-boot-on;
			};

			/* VCCSNVS */
			DA9063_LDO9:ldo9  {
				regulator-name = "DA9063_LDO9";
				regulator-boot-on;
				regulator-always-on;
			};

			/* 2V5D_FPGA */
			DA9063_LDO10:ldo10  {
				regulator-name = "DA9063_LDO10";
				regulator-boot-on;
			};

			/* 3V15D */
			DA9063_LDO11:ldo11  {
				regulator-name = "DA9063_LDO11";
				regulator-boot-on;
				regulator-always-on;
			};

			/* 1V8D_FPGA */
			DA9063_CORE_SW:core-sw  {
				regulator-name = "DA9063_CORE_SW";
				regulator-boot-on;
			};

			/* 1V2D_FPGA */
			DA9063_PERI_SW:peri-sw  {
				regulator-name = "DA9063_PERI_SW";
				regulator-boot-on;
			};

			/* CLK32k768 */
			DA9063_32K_OUT:out_32k  {
				regulator-name = "DA9063_32K_OUT";
			};
		};
	};
};

/* HDMI I2C */
&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
	
	hdmi_edid: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};

/* Misc I2C */
&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	/* ID EEPROM */
	ec_24c02: ec_24c02@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};

	/* FPGA CSI0 */
	sensor_flir_csi0: csi0@3c {
		compatible = "flir,flir_csi";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu_csi0>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		ipu_id = <0>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
		capturemode = <0>;
		format = "RGB4";
		status = "okay";
	};

	/* FPGA CSI1 */
	sensor_flir_csi1: csi1@3d {
		compatible = "flir,flir_csi";
		reg = <0x3d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu_csi1>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		ipu_id = <0>;
		csi_id = <1>;
		mclk = <24000000>;
		mclk_source = <0>;
		capturemode = <5>;
		format = "UYVY";
		status = "okay";
	};
};

/* XXX I2C */
&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx6dl-ec {

		pinctrl_pwm1: pwm1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_9__PWM1_OUT		0x80000000
			>;
		};

		pinctrl_pwm2: pwm2 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_1__PWM2_OUT		0x80000000
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO		0x1b0b0
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x1b0b0
				MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24	0x1b0b0
				MX6QDL_PAD_ENET_CRS_DV__GPIO1_IO25	0x1b0b0
				MX6QDL_PAD_ENET_MDC__ENET_MDC		0x1b0b0
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC		0x1b0b0
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0		0x1b0b0
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1		0x1b0b0
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2		0x1b0b0
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3		0x1b0b0
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL	0x1b0b0
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0		0x1b0b0
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL	0x1b0b0
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1		0x1b0b0
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2		0x1b0b0
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3		0x1b0b0
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC		0x1b0b0
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT4__ECSPI1_SCLK 0x100b1
				MX6QDL_PAD_CSI0_DAT5__ECSPI1_MOSI 0x100b1
				MX6QDL_PAD_CSI0_DAT6__ECSPI1_MISO 0x100b1
				MX6QDL_PAD_CSI0_DAT10__GPIO5_IO28 0x1b0b1
				MX6QDL_PAD_CSI0_DAT11__GPIO5_IO29 0x1b0b1
			>;
		};

		pinctrl_ecspi1_idle: ecspi1grp-idle {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT4__GPIO5_IO22	0x100b1
				MX6QDL_PAD_CSI0_DAT5__GPIO5_IO23	0x100b1
				MX6QDL_PAD_CSI0_DAT6__GPIO5_IO24	0x100b1
				>;
		};

		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_CS0__ECSPI2_SCLK	0x100b1
				MX6QDL_PAD_EIM_CS1__ECSPI2_MOSI	0x100b1
				MX6QDL_PAD_EIM_OE__ECSPI2_MISO	0x100b1
				MX6QDL_PAD_EIM_RW__GPIO2_IO26	0x1b0b1
				MX6QDL_PAD_EIM_LBA__GPIO2_IO27	0x1b0b1
				MX6QDL_PAD_EIM_EB0__GPIO2_IO28	0x1b0b1
			>;
		};

		pinctrl_ecspi4: ecspi4grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D22__ECSPI4_MISO 0x100b1
				MX6QDL_PAD_EIM_D21__ECSPI4_SCLK 0x100b1
				MX6QDL_PAD_EIM_D28__ECSPI4_MOSI 0x100b1
				MX6QDL_PAD_EIM_D20__GPIO3_IO20	0x1b0b1
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL3__I2C2_SCL	0x4001b8b1
				MX6QDL_PAD_KEY_ROW3__I2C2_SDA	0x4001b8b1
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_5__I2C3_SCL  0x4001b8b1
				MX6QDL_PAD_GPIO_6__I2C3_SDA  0x4001b8b1
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_7__I2C4_SCL  0x4001b8b1
				MX6QDL_PAD_GPIO_8__I2C4_SDA  0x4001b8b1
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA 0x1b0b1
				MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA 0x1b0b1
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_DAT4__UART2_RX_DATA   0x1b0b1
				MX6QDL_PAD_SD3_DAT5__UART2_TX_DATA   0x1b0b1
			>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD	0x170B9
				MX6QDL_PAD_SD4_CLK__SD4_CLK	0x100B9
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0 0x170B9
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1 0x170B9
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2 0x170B9
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3 0x170B9
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4 0x170B9
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5 0x170B9
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6 0x170B9
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7 0x170B9
			>;
		};

		pinctrl_da9063: da9063grp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D27__GPIO3_IO27 0x1b0b0
			>;
		};

		pinctrl_ipu_csi0: ipucsi0grp { /* parallel camera - LCD image */
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__IPU1_CSI0_DATA12		0x80000000
				MX6QDL_PAD_CSI0_DAT13__IPU1_CSI0_DATA13		0x80000000
				MX6QDL_PAD_CSI0_DAT14__IPU1_CSI0_DATA14		0x80000000
				MX6QDL_PAD_CSI0_DAT15__IPU1_CSI0_DATA15		0x80000000
				MX6QDL_PAD_CSI0_DAT16__IPU1_CSI0_DATA16		0x80000000
				MX6QDL_PAD_CSI0_DAT17__IPU1_CSI0_DATA17		0x80000000
				MX6QDL_PAD_CSI0_DAT18__IPU1_CSI0_DATA18		0x80000000
				MX6QDL_PAD_CSI0_DAT19__IPU1_CSI0_DATA19		0x80000000
				MX6QDL_PAD_CSI0_PIXCLK__IPU1_CSI0_PIXCLK	0x0000a0b0
				MX6QDL_PAD_CSI0_MCLK__IPU1_CSI0_HSYNC		0x80000000
				MX6QDL_PAD_CSI0_VSYNC__IPU1_CSI0_VSYNC		0x80000000
				MX6QDL_PAD_CSI0_DATA_EN__IPU1_CSI0_DATA_EN	0x80000000
				>;
		};
	
		pinctrl_ipu_csi1: ipucsi1grp { /* parallel camera - visual */
			fsl,pins = <
				MX6QDL_PAD_EIM_A17__IPU1_CSI1_DATA12	0x80000000
				MX6QDL_PAD_EIM_A18__IPU1_CSI1_DATA13	0x80000000
				MX6QDL_PAD_EIM_A19__IPU1_CSI1_DATA14	0x80000000
				MX6QDL_PAD_EIM_A20__IPU1_CSI1_DATA15	0x80000000
				MX6QDL_PAD_EIM_A21__IPU1_CSI1_DATA16	0x80000000
				MX6QDL_PAD_EIM_A22__IPU1_CSI1_DATA17	0x80000000
				MX6QDL_PAD_EIM_A23__IPU1_CSI1_DATA18	0x80000000
				MX6QDL_PAD_EIM_A24__IPU1_CSI1_DATA19	0x80000000
				MX6QDL_PAD_EIM_A16__IPU1_CSI1_PIXCLK	0x0000a0b0
				MX6QDL_PAD_EIM_EB3__IPU1_CSI1_HSYNC	0x80000000
				MX6QDL_PAD_EIM_D29__IPU1_CSI1_VSYNC	0x80000000
				MX6QDL_PAD_EIM_D23__IPU1_CSI1_DATA_EN	0x80000000
				>;
		};

		pinctrl_hog: hoggrp {
			fsl,pins = <
				/* DIG_IN_x */
				MX6QDL_PAD_KEY_COL0__GPIO4_IO06		0x13000
				MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x13000
				/* DIG_OUT_CPU_x */
				MX6QDL_PAD_EIM_DA14__GPIO3_IO14		0x40000010
				MX6QDL_PAD_EIM_DA15__GPIO3_IO15		0x40000010
			>;
		};

		pinctrl_fvd: fvdgrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D16__GPIO3_IO16  0x10010
				MX6QDL_PAD_EIM_D17__GPIO3_IO17  0x10010
				MX6QDL_PAD_EIM_D18__GPIO3_IO18  0x10010
				MX6QDL_PAD_EIM_D19__GPIO3_IO19  0x10010
			>;
		};
	};
};

/* PCIe FPGA */
&pcie {
	status = "okay";
	reset-gpio = <&gpio1 16 0>;
};

/*Active serial port*/
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/*Secondary serial port*/
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "disabled";
};


/*eMMC*/
&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	status = "okay";
};

/* USB */
&usbotg {
	pinctrl-names = "default";
	disable-over-current;
	status = "okay";
//	dr_mode = "host";
	dr_mode = "peripheral";
//	dr_mode = "otg";
};

&gpc {
	fsl,ldo-bypass = <1>;
};

&cpu0{
	arm-supply = <&DA9063_BCORE1>;
	soc-supply = <&DA9063_BCORE2>;
	operating-points = <
		/* kHz	 uV */
		996000 1280000
		792000 1180000
		396000 1150000
	>;
	fsl,soc-operating-points = <
		/* ARM kHz SOC-PU uV */
		996000 1200000
		792000 1200000
		396000 1200000
	>;
};

// OCRAM usage improvements
&vpu {
	iramsize = <0x10000>;
};

&sdma {
	iram = <&ocram>;
};

&ipu1 {
	bypass_reset = <1>;
	// IOMUX_GPR6: ID0 = F (real time), ID1 = 4 (high prio), ID2 = 2 (normal prio) 
	axi-id = <&gpr 0x18 0x024F024F>;	
};

&reg_arm {
	vin-supply = <&DA9063_BCORE1>;
};

&reg_soc {
	vin-supply = <&DA9063_BCORE2>;
};

&fec {
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-rates;
};
