#CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/flir/ec101/ec101.cfg,MX6S,DDR_MB=512"
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/flir/ec101/ec101.cfg,DDR_MB=512"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_MX6S=y
CONFIG_TARGET_EC101=y

CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400

CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO_LATE=y

CONFIG_SYS_L2CACHE_OFF=y

CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_BOARD_LATE_INIT=y

CONFIG_MXC_GPIO=y
CONFIG_MXC_UART=y

# MMC Configs #
#CONFIG_FSL_ESDHC=y
CONFIG_FSL_USDHC=y
#CONFIG_SYS_FSL_ESDHC_ADDR      0
CONFIG_MMC=y
CONFIG_CMD_MMC=y
#define CONFIG_GENERIC_MMC
#define CONFIG_CMD_EMMC
CONFIG_BOUNCE_BUFFER=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_FAT_WRITE=y
CONFIG_DOS_PARTITION=y
CONFIG_EFI_PARTITION=y
CONFIG_CMD_GPT=y
CONFIG_PARTITION_UUIDS=y
CONFIG_CMD_PART=y

# Ethernet config #
CONFIG_CMD_PING=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_NET=y
CONFIG_FEC_MXC=y
CONFIG_MII=y
#define IMX_FEC_BASE			ENET_BASE_ADDR
#define CONFIG_ETHPRIME			"FEC"
CONFIG_PHYLIB=y
#define CONFIG_ARP_TIMEOUT     200UL
CONFIG_PHY_MICREL=y
#CONFIG_ENET_PHYADDR_MICREL=0
#define CONFIG_FEC_MXC_PHYADDR CONFIG_ENET_PHYADDR_MICREL
#define CONFIG_FEC_XCV_TYPE             RMII

CONFIG_CONS_INDEX=1
CONFIG_BAUDRATE=115200

CONFIG_CMD_BMODE=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_IMLS=n
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_FUSE=y
CONFIG_MXC_OCOTP=y


CONFIG_CMD_GPIO=y
CONFIG_CMD_SOURCE=y
CONFIG_CMD_TIME=y

CONFIG_SYS_TEXT_BASE=0x17800000

CONFIG_SYS_LONGHELP=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT_HUSH_PS2="> "
CONFIG_AUTO_COMPLETE=y

CONFIG_MEMTEST=y
CONFIG_SYS_MEMTEST_START=0x10000000
CONFIG_SYS_MEMTEST_END=0x10010000
CONFIG_SYS_HZ=1000

CONFIG_SILENT_CONSOLE=y

# Physical Memory Map #
CONFIG_NR_DRAM_BANKS=1
#define PHYS_SDRAM                     MMDC0_ARB_BASE_ADDR
#define CONFIG_SYS_SDRAM_BASE          PHYS_SDRAM
#define CONFIG_SYS_INIT_RAM_ADDR       IRAM_BASE_ADDR
#define CONFIG_SYS_INIT_RAM_SIZE       IRAM_SIZE

#define CONFIG_SYS_NO_FLASH
CONFIG_ENV_SIZE=0x4000

CONFIG_OF_LIBFDT=y
CONFIG_OF_BOARD_SETUP=y

## Framebuffer and LCD ##
CONFIG_VIDEO=y
CONFIG_VIDEO_IPUV3=y
CONFIG_CFB_CONSOLE=y
CONFIG_CFB_CONSOLE_ANSI=y
CONFIG_VGA_AS_SINGLE_DEVICE
CONFIG_SYS_CONSOLE_IS_IN_ENV
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE
CONFIG_VIDEO_BMP_RLE8
CONFIG_SPLASH_SCREEN
CONFIG_VIDEO_BMP_GZIP
CONFIG_BMP_16BPP
CONFIG_SPLASHIMAGE_GUARD
#define CONFIG_SYS_VIDEO_LOGO_MAX_SIZE		(1024*1024)
CONFIG_CMD_BMP
#define CONFIG_VIDEO_LOGO
#define CONFIG_IPUV3_CLK 260000000

CONFIG_PWM_IMX=y

CONFIG_CMD_I2C=y
#define CONFIG_SYS_I2C
CONFIG_SYS_I2C_MXC
#define CONFIG_SYS_I2C_SPEED		100000
#define CONFIG_SYS_EEPROM_BUS_NUM   2
#CONFIG_SYS_I2C_EEPROM_ADDR=0x57
#CONFIG_SYS_I2C_EEPROM_ADDR_LEN=1


CONFIG_DM=y
CONFIG_DM_THERMAL=y

CONFIG_SYS_MAXARGS=256
CONFIG_BOOTDELAY=0
#CONFIG_DDR_MB=512


CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_MXC_SPI=y
CONFIG_SF_DEFAULT_BUS=0
CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_SF_DEFAULT_MODE=0
CONFIG_SF_DEFAULT_CS=156

