menu FLIR

menu FLIR_PLATFORM_SELECTION
config FLIR_PLATFORM
       bool "Select flir platform model"
       default n

config FLIR_PLATFORM_EOCO
       bool "EOCO Specific platform selection"
       default n
       help
		EOCO Platforms differs some from the FLIR_PLATFORM model
		pins for FPGA configuration amooung other has been changed
endmenu

config FLIR_COMMANDS
       bool "Support generic flir commands"
       default y
       help
	"support flir commands"

config FLIR_OLD_COMMAND_STYLE
       bool "Support flir old command style"
       default y
       help
	"Support old-style FLIR commands (without flir_)"

source "flir/src/Kconfig"


##//Not a good practice...
##https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/guides/build/kconfig/tips.html

config FLIR_FPGA
       bool "Support FPGA"
       default y

if FLIR_FPGA

config FPGA_XILINX
       bool "Support XILINX FPGA"
       default y
       help 
       	    "XILINX FPGA"

config FPGA_ALTERA
       bool "Support ALTERA FPGA"
       default n
       help 
       	    "ALTERA FPGA"

endif

endmenu
