menu FLIR

choice
	prompt "Camera Platform"
	default NOFLIR

config FLIR_PLATFORM_EOCO
	bool "EOCO"
	help
	  EOCO Platforms differs some from the FLIR_PLATFORM model
	  pins for FPGA configuration among other has been changed

config FLIR_PLATFORM_EC101
	bool "EC101"
	help
	  Cameras based on the EC101 board

config FLIR_PLATFORM_EC701
	bool "EC701"
	help
	  Cameras based on the EC701 board

config FLIR_PLATFORM_EC401W
	bool "EC401W"
	help
	  Cameras based on the EC401W board

config FLIR_PLATFORM_EC201
	bool "EC201"
	help
	  Cameras based on the EC201 board

config FLIR_PLATFORM_EC302
	bool "EC302"
	help
	  Cameras based on the EC302 board

config NOFLIR
	bool "Not FLIR"
	help
	  Other platform.
endchoice

choice
	prompt "FPGA type"

config FLIR_FPGA_XILINX
	bool "XILINX"
	imply FPGA_XILINX
	help
	  Platform has XILINX FPGA

config FLIR_FPGA_ALTERA
	bool "ALTERA"
	imply FPGA_ALTERA
	help
	  Platform has ALTERA FPGA

endchoice

source "board/flir/common/Kconfig"

endmenu
